<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap-responsive.min.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/canvas.js"></script>
    <script type="text/javascript" src="/javascripts/chat.js"></script>
    <style type="text/css">
    canvas {
      border: solid 1px #999;
      cursor: crosshair;
    }
    #header {
      border-bottom: solid 1px #999;
      padding:8px 0px 8px 0px;
      margin-bottom:16px;
    }
    #header #title{
      padding-bottom:8px;
    }
    #canvas-main {
      margin-bottom:24px;
      padding-bottom:8px;
    }
    #div-canvas {
      margin-bottom:8px;
    }
    #canvas-stored {
      margin-bottom:24px;
    }
    .image-box { 
      border: solid 1px #999;
    }
    #chat-form {
      background-color: #eee;
      border: solid 1px #999;

      margin-bottom: 8px;
      /* padding: 8px 8px 8px 8px; */
    }
    #chat-form-box {
      padding: 8px 8px 8px 8px;
    }
    #chat-alert {
      margin-top: 24px;
    }
    #chat-history-title {

      margin-top: 24px;
      border-bottom: solid 1px #999;
    }
    #chat li {
      /* margin-left:0px; */
      list-style-type: none;
      border: solid 1px #ddd;
      margin-top: 8px;
      /* margin-bottom: 8px; */
      /* padding: 8px 0px 8px 0px; */
    }
    .thumbnail-icon-trash {
      float: right;
    }
    .thumbnail-title {
      float: left;
    }
    .chat-list-border {
      border: solid 1px #ddd;
    }
    .chat-list-box {
      padding: 8px 8px 8px 8px;
    }
    .chat-list-text {
      border-bottom: solid 1px #ddd;
    }
    .chat-list-date {
      float: left;
    }
    .chat-list-icon {
      float: right;
    }
    </style>
  </head>
  <body>
      <a href="https://github.com/junpeitsuji/paintchat"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <div class="container">
      <div id="header" class="row">
        <div id="title">
          <h1 class="text-info"><%= title %></h1>
        </div>
        <p><%= title %> は <a href="http://nodejs.org/">node.js</a> を用いたリアルタイムお絵かきチャットのサンプルアプリです。</p>
      </div>      
      <div class="row">
        <div id="canvas" class="span9">
          <div id="canvas-main">
            <div class="row">
              <h3>キャンバス</h3>
            </div>
            <div id="div-canvas" class="row">
              <canvas id="myCanvas" width="720" height="480"></canvas>
            </div>
            <div class="row">
              <button id="save" class="btn btn-large btn-primary">キャンバスを保存</button>
              <button id="delete" class="btn btn-large btn-danger">キャンパスをクリア</button>
            </div>
          </div>
          <div id="canvas-stored">
            <div class="row">
              <h4>保存したキャンバスの画像 (<%= page_limit %> 件)</h4>
            </div>
            <div class="row">
              <div id="image">
                <ul id="list" class="thumbnails">
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="chat" class="span3">
          <h3>テキストチャット</h3>
          <div class="row">
            <div id="chat-form" class="span3">
              <div id="chat-form-box" class="row">
                <span class="span3 form-inline">
                  <input class="input-medium" type="text" name="message" id="message" />
                  <button id="submit" class="btn btn-primary">送信</button>
                  <!-- <button id="delete" class="btn btn-danger">削除</button> -->
                </span>
              </div>
            </div>
          </div>
          <p id="chat-user-count" class="pull-right">
          </p>
          <p id="chat-alert" class="alert alert-info" style="display: none;">
          </p>
          <div id="chat-history-title">
            <h4>チャット履歴 (<%= page_limit %> 件)</h4>
          </div>
          <ul id="list" class="row"></ul>
          <!--
          <div class="row">
            <h3>テキストチャット</h3>
            <div id="chat-form">
              <input class="input-large" type="text" name="message" id="message" />
              <span class="form-inline">
                <button id="submit" class="btn btn-primary">送信</button>
                <button id="delete" class="btn btn-danger">削除</button>
              </span>
            </div>
            <div id="chat-history-title">
              <h4>チャット履歴</h4>
            </div>
            <ul id="list"></ul>
          </div>
        -->
        </div>
      </div>
    </div>
  </body>
</html>
